.chevron-container {
  position: relative;
  width: 100%;
  height: 100%;
}

  .chevron-container:hover::before {
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    filter: drop-shadow(0px 0px 8px gold);
  }

.chevron-svg {
  height: 100%;
  width: 100%;
  position: relative;
}

.chevron {
  height: 100%;
  width: 100%;
  fill: rgb(49, 36, 9);
  /* background: radial-gradient(circle, #b9c2ca 0%, #616569 100%); */
  stroke: white;
  stroke-width: 1%;
  stroke-linecap: round;
  mask-clip: url(#chevronClip);
}

#myGradient {
  fill: url(#myGradient);
}

.title {
  position: absolute;
  color: var(--text-color);
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
  height: 20%;
  align-content: start;
  justify-content: start;
  background-color: transparent;
  text-align: center;
  border: none;
  font-family: "Russo One", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  text-transform: uppercase;
  resize: none;
}

.chevron-controls {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.chevron-extras {
  position: absolute;
  left: 100%;
  top: 0;
  width: 250px;
  height: auto;
  padding: 0.5em;
  border: 1px solid white;
  background-color: rgb(50, 50, 50);
  z-index: 9999;
  display: none;
  font-size: 0.8em;
  flex-direction: column;
  gap: 0.6em;
}

  .chevron-extras:hover {
    display: flex;
  }

.control-label {
  display: flex;
  flex-direction: column;
}

.points-img {
  position: absolute;
  bottom: -20%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, 0);
  object-fit: contain;
}

.skillbody {
  position: absolute;
  width: 90%;
  text-align: center;
  color: var(--text-color);
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  height: 60%;
  font-size: var(--text-size);
  font-family: "Hanuman", serif;
  background: transparent;
  border: none;
  resize: none;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.body, .mind, .soul {
  transform: translate(-50%, -50%);
  position: absolute;
  color: var(--point-color);
  font-size: 1.3em;
  font-family: "Hanuman", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  width: 40px;  
  text-align: center;
  border: none;
  filter: drop-shadow(0px 0px 4px var(--text-shadow));
  text-shadow: 0px 0px 4px var(--text-shadow), 0.5px 0.5px 1px var(--text-shadow);
  z-index: 1000;
  -moz-appearance: textfield;
}
  
  .body::-webkit-outer-spin-button,
  .body::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  .mind::-webkit-outer-spin-button,
  .mind::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  .soul::-webkit-outer-spin-button,
  .soul::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

.parent-chevron-controls {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.body {
  left: 31%;
}

.mind {
  left: 50%;
}

.soul {
  left: 68.5%;
}